<template>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="locatie">Woonzorgcentrum: {{selected.name}}</label>
            <v-select
                :options="options"
                label=""
                placeholder="Selecteer woonzorgcentrum"
                v-model="selected"

            >
                <option value="null" disabled>Selecteer woonzorgcentrum</option>
                <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.name }}
                    </div>
                </template>
                <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center">
                        {{ option.name }}
                    </div>
                </template>
            </v-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="room_id">Kamer nummer</label>
            <input type="text" id="room_id" class="form-control" placeholder="Kamernummer" name="room_id">
        </div>
    </div>

</div>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: "bewonersForm",
        data() {
            return {
                selected: '',
                options: [{"id":2,"name":"Hof van Egmont","city":"Sint-Katelijne-Waver","created_at":"2020-06-11T23:43:23.000000Z","updated_at":"2020-06-11T23:43:23.000000Z","deleted_at":null},{"id":3,"name":"Locatie A","city":"Gemeente A","created_at":"2020-06-12T08:17:50.000000Z","updated_at":"2020-06-12T08:17:50.000000Z","deleted_at":null}],
            }
        },
        components: {
            vSelect,
        },
        methods: {
            submit() {

            },
        },

        created() {

        }
    }
</script>

<style scoped>

</style>
