<template>
<div style="height: 100%; width: 100%">
    <!--<span>Mouselocation: {{mouseLocation}}</span>
    <span>Target: {{mapDragging}}</span>-->
    <!--<button @click="tooltipRefresh = !tooltipRefresh">Toggle test</button>-->
    <div v-if="pageLoad" class="loading" style="height: 100%;background-color: white;position: absolute;z-index: 401;width: 100%;opacity: 0.7;text-align: center;padding-top: 20%;font-size: 32px;">Laden de module...</div>
    <l-map
        ref="map"
        :zoom="zoom"
        :minZoom="1"
        :maxZoom="3"
        :crs="crs"
        :key="updaterUUID"
        :options="{dragging: mapDragging}"
        style="height: 100vh; padding:0; background-image: url('/grid.png')"
        @update:zoom="zoomUpdated"
        @ready="mapReady"
        @mousemove="onMouseMove"
    >
        <l-image-overlay
            :url="url"
            :bounds="bounds"
        />


        <l-control position="bottomleft">
            <div class="card" v-if="legende">
                <div class="card-body">
                    <ul class="legend">
                        <li><img src="/images/users/userNieuw.png" alt=""> Nieuwe bewoner</li>
                        <li><img src="/images/users/userRolstoel.png" alt=""> Bewoner met rolstoel</li>
                        <li><img src="/images/users/userLeuningen.png" alt=""> Bew. - Stoel met leuningen</li>
                        <li><img src="/images/users/userZonderLeuningen.png" alt=""> Bew. - Stoel zonder leuningen</li>
                        <li><img src="/images/users/alertMarker.png" alt=""> Opmerkingen voor situering</li>
                        <li><img src="/images/two.png" alt=""> 2 Persoonstafel</li>
                        <li><img src="/images/fourVertical.png" alt=""> 4 Persoonstafel</li>
                        <li><img src="/images/sixVertical.png" alt=""> 6 Persoonstafel</li>

                    </ul>
                </div>
            </div>
            <button class="legende-btn" @click="legende = !legende"><i class="fa fa-eye"></i> Legende</button>

        </l-control>


        <l-control position="topright">
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <h4 class="form-section"><i class="ft-user"></i> Hier kan je een eetruimte selecteren</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Afdeling</label>
                                    <v-select
                                        :options="afdelingen"
                                        label="name"
                                        placeholder="Selecteer een afdeling"
                                        v-model="selectedAfdeling"
                                        @input="updateAfdeling"
                                    >
                                        <template slot="option" slot-scope="option">
                                            <div class="d-center">
                                                {{ option.name }}
                                            </div>
                                        </template>
                                        <template slot="selected-option" slot-scope="option">
                                            <div class="selected d-center">
                                                {{ option.name }}
                                            </div>
                                        </template>
                                    </v-select>
                                </div>
                                <div class="form-group">
                                    <label for="">Eetruimte</label>
                                    <v-select
                                        :options="ruimtes"
                                        label="name"
                                        placeholder="Selecteer een Eetruimte"
                                        v-model="selectedRuimte"
                                        @input="updateRuimte"
                                    >
                                        <template slot="option" slot-scope="option">
                                            <div class="d-center">
                                                {{ option.name }}
                                            </div>
                                        </template>
                                        <template slot="selected-option" slot-scope="option">
                                            <div class="selected d-center">
                                                {{ option.name }}
                                            </div>
                                        </template>
                                    </v-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </l-control>

        <l-control position="topleft">
            <button class="legende-btn" @click="tijdslotForm = !tijdslotForm"><i class="fa fa-clock-o"></i> Tijdslot selecteren</button>
                <div class="card" v-if="tijdslotForm">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Selecteer het tijdsslot van de maaltijd</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <v-select
                                                :options="tijdsloten"
                                                placeholder="Selecteer een tijdslot"
                                                v-model="selectedSlot"
                                                @input="tijdslotUpdate"
                                            >
                                                <template slot="option" slot-scope="option">
                                                    <div class="d-center">
                                                        {{ option.label }}
                                                    </div>
                                                </template>
                                                <template slot="selected-option" slot-scope="option">
                                                    <div class="selected d-center">
                                                        {{ option.label }}
                                                    </div>
                                                </template>
                                            </v-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </l-control>

        <l-marker
            v-for="(bewoner, key) in bewoners"
            :key="bewoner.options.uuid"
            :lat-lng="bewoner.coords"
            :options="bewoner.options"
            @click="userClicked(bewoner.options.uuid, bewoner)"
            @update:latLng="updateBewonerMarker"
            @mouseup="onMouseUpBewoner"
            @contextmenu="onRightClickUser"
        >
            <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                :icon-url="bewoner.icon.iconUrl"
                >
            </l-icon>

                <div v-if="bewoner.options.firstname">
                    <l-tooltip :options="userTooltip" v-show="readableLabel">{{bewoner.options.firstname}} {{bewoner.options.lastname}}
                    <ul class="legend" v-show="extendedTooltip">
                        <li v-for="hulpmiddel in bewoner.options.hulpmiddelen">{{hulpmiddelFind(hulpmiddel)}}</li>
                    </ul></l-tooltip>
                </div>
        </l-marker>

        <l-marker
            v-for="(opmerking) in opmerkingen"
            :key="opmerking.options.uuid"
            :lat-lng="opmerking.coords"
            :options="opmerking.options"
            @click="opmerkingClicked(opmerking.options.uuid, opmerking)"
            @update:latLng="updateBewonerMarker"
            @mouseup="onMouseUpOpmerking"
            @contextmenu="onRightClickOpmerking"
        >
            <l-icon
                :icon-size="[50,50]"
                :icon-anchor="[25,25]"
                :icon-url="opmerking.icon.iconUrl"
            >
            </l-icon>

                <l-tooltip :options="opmerkingTooltip">
                    <p :style="opmerkingTooltipCSS(opmerking.options.opmerking)">
                        {{opmerking.options.opmerking}}
                    </p>

                </l-tooltip>

        </l-marker>

        <l-rectangle :key="key" @click="rectangleClick" @contextmenu="onRightClick" @mousedown="onMouseDownRectangle" :options="rectangle.options" @mouseup="onMouseUpRectangle" v-for="(rectangle, key) in tafels" :bounds="rectangle.bounds" :l-style="rectangle.style" draggable="true"></l-rectangle>

    </l-map>
</div>
</template>

<script>
    import vSelect from 'vue-select';
    import { CRS } from "leaflet";
    import { LMap, LImageOverlay, LMarker, LPopup, LPolyline, LPolygon, LRectangle, LControl, LTooltip, LIcon } from "vue2-leaflet";
    import Vue2LeafletPathTransform from 'vue2-leaflet-path-transform';
    import { VueContext } from 'vue-context';


    export default {
        name: "schetsModule",
        props: [
            'locatie'
        ],
        components: {
            LMap,
            LImageOverlay,
            LMarker,
            LPopup,
            LPolyline,
            LPolygon,
            LRectangle,
            'v-path-transform': Vue2LeafletPathTransform,
            LControl,
            VueContext,
            LTooltip,
            vSelect,
            LIcon
        },
        data() {
            return {
                tijdsloten: [
                    {
                        'label' : 'ontbijt',
                        'value'     : 0
                    },
                    {
                        'label': 'middageten',
                        'value'     : 1
                    },
                    {
                        'label': 'avondeten',
                        'value'     : 2
                    }
                ],
                selectedSlot: null,
                selectedAfdeling: null,
                selectedRuimte: null,

                afdelingen: [],
                ruimtes: [],


                dayPart: 0,
                pageLoad: true,
                saved: true,
                legende: false,
                eetruimteForm: false,
                tijdslotForm: false,

                hulpmiddelen: null,


                apiUsers: [],
                selected: '',
                handlerOptions: {
                    radius: 5,
                    weight: 1.5
                },
                initialLocation: L.latLng(37.54893261064111, 127.03618615865709),
                url: "",
                mouseLocation: '',
                mapDragging: true,
                bounds: [[-500, -500], [500, 500]],
                crs: CRS.Simple,
                zoom: 1,
                readableLabel: false,
                rectangles: [

                ],
                target: null,
                value: null,


                markerLoc: L.latLng(26,-7),
                markerLoc2: L.latLng(4,-7),

                extendedTooltip: false,
                tooltipRefresh: false,

                addTable: false,

                userForm: false,
                opmerkingForm: false,
                opmerkingTextArea: '',
                opmerkingActive: '',
                userActive: '',
                selectedUser: '',

                tafels: [],
                opmerkingen: [],
                bewoners: [],


                bewonerMarkers: [],
                opmerkingMarkers: [],
                updaterUUID:'',

                bewonerMarker: {
                    coords: [0,0],
                    options: {
                        draggable: true,
                    },
                    icon: {
                        iconUrl: '/images/users/userNieuw.png'
                    }
                },
                opmerkingMarker: {
                    coords: [0,0],
                    options: {
                        draggable: true,
                        opmerking: ''
                    },
                    icon: {
                        iconUrl: '/images/users/alertMarker.png'
                    }
                },
                twoPerson: {
                    bounds: [[0, 0], [20, 20]],
                    style: { color: 'red', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                fourPerson: {
                    bounds: [[0, 0], [40, 20]],
                    style: { color: 'green', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                sixPerson: {
                    bounds: [[0, 0], [60, 20]],
                    style: { color: 'blue', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                fourPersonHorizontal: {
                    bounds: [[0, 0], [20, 40]],
                    style: { color: 'green', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                sixPersonHorizontal: {
                    bounds: [[0, 0], [20, 60]],
                    style: { color: 'blue', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                copy: {}
            };
        },
        methods: {
            zoomUpdated(zoom) {
                this.zoom = zoom;
                this.readableLabel = zoom !== 1;
                if(this.zoom == 1){
                    $(".leaflet-tooltip-right").css("display","none");
                } else {
                    $(".leaflet-tooltip-right").css("display","block");
                }
                if(this.zoom == 3) {
                    this.extendedTooltip = true;
                } else {
                    this.extendedTooltip = false;
                }

                //Tooltip op juiste plek zetten
                this.markerLoc2 = L.latLng(this.markerLoc2.lat, this.markerLoc2.lng+0.000001);
                this.markerLoc = L.latLng(this.markerLoc.lat, this.markerLoc.lng+0.000001);


            },
            onRightClick(event){
                //console.log(event.target.options.uuid);
                //console.log(this.mouseLocation);
                //let ne = event.target._bounds._northEast;
                //let sw = event.target._bounds._southWest;
                //console.log('[[' + sw.lat + ', ' + sw.lng + '], [' + ne.lat + ', ' + ne.lng + ']]');
                //console.log('[[' + sw.lat + ', ' + ne.lat + '], [' + ne.lng + ', ' + sw.lng + ']]');
                //console.log(ne.lat, ne.lng, ne.lat-ne.lng);
                this.rectangles = this.rectangles.filter(function(item){
                    console.log(item);
                    if(item.options.uuid != event.target.options.uuid)
                        return item;
                });
                //this.$delete(this.rectangles, event.target.options.id);


                //this.rectangles[event.target.options.id].bounds = [[sw.lat, sw.lng], [ne.lng, ne.lat]];
                //console.log([[sw.lat, sw.lng], [ne.lng, ne.lat]]);
                //this.$delete(this.rectangles, event.target.options.id)
                // [[0, 0], [60, 20]]
                // [[0, 00], [20, 60]]

            },
            onRightClickUser(event){
                this.bewonerMarkers = this.bewonerMarkers.filter(function(item){
                   if(item.options.uuid != event.target.options.uuid)
                       return item;
                });
            },
            onRightClickOpmerking(event){
                this.opmerkingMarkers = this.opmerkingMarkers.filter(function(item){
                    if(item.options.uuid != event.target.options.uuid)
                        return item;
                });
            },
            mapReady(){
                axios.get('/api/hulpmiddelen')
                    .then(response => (this.hulpmiddelen = response.data))
                    .catch(function (error) {
                        console.log(error);
                    });
                //this.tafels = JSON.parse(this.originalTafels);
                //this.bewoners = JSON.parse(this.originalBewoners);
                //this.opmerkingen = JSON.parse(this.originalOpmerkingen);

                console.log('map');



                this.refreshUserMarkers();


                this.pageLoad = false;

                //console.log('test', test);
            },
            tooltipTest(){
                var marker = this.markerLoc2;
                //console.log(marker.lng);
                this.markerLoc2 = L.latLng(marker.lat, marker.lng+0.000001);
            },
            userClicked(uuid, event){
                if(!event.options.firstname){
                    this.userForm = true;
                    this.userActive = uuid;
                }
            },
            opmerkingClicked(uuid, event){
                this.opmerkingForm = true;
                this.opmerkingActive = uuid;
                this.opmerkingTextArea = event.options.opmerking;
            },
            rectangleClick(event){
                //alert(event.target.options.id + ' clicked');
                alert(this.createUUID());
            },
            onMouseDownRectangle(event){



            },
            onMouseUpRectangle(event){
                var that = this;
                this.saved = false;
                this.rectangles.forEach(function(item){
                    setTimeout(function(){
                    if(item.options.uuid === event.sourceTarget.options.uuid){
                        //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);

                        item.bounds = [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]];

                    }

                    }, 500);

                });

            },
            onMouseUpOpmerking(event){
                var that = this;
                this.saved = false;
                this.opmerkingMarkers.forEach(function(item){
                        if(item.options.uuid === event.sourceTarget.options.uuid){
                            setTimeout(function(){
                                //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);
                                //console.log('saving', [event.latlng.lat , event.latlng.lng]);
                                item.coords = [event.latlng.lat , event.latlng.lng];

                            }, 500);
                        }
                });
            },
            onMouseUpBewoner (event){
                console.log('mouseupbewoner');

                var that = this;
                this.saved = false;
                this.bewonerMarkers.forEach(function(item){
                    //console.log('item', event.latlng);
                    if(item.options.uuid === event.target.options.uuid){
                        setTimeout(function(){
                            //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);
                            //console.log('saving', [event.latlng.lat , event.latlng.lng]);
                            item.coords = [event.latlng.lat , event.latlng.lng];

                        }, 500);

                    }


                });
            },
            onMouseMove(event){
                this.mouseLocation = event.latlng;
            },
            onClick (text) {
                alert(`You clicked on: "${text}"`);
            },
            addTableToMap(persons){
                if(persons == 2){

                    let clone = JSON.parse(JSON.stringify(this.twoPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(Object.assign({}, clone));
                } else if(persons == 4){
                    let clone = JSON.parse(JSON.stringify(this.fourPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 5){
                    let clone = JSON.parse(JSON.stringify(this.fourPersonHorizontal));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 6){
                    let clone = JSON.parse(JSON.stringify(this.sixPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 7){
                    let clone = JSON.parse(JSON.stringify(this.sixPersonHorizontal));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                }
            },
            addBewonerToMap(){
                let clone = JSON.parse(JSON.stringify(this.bewonerMarker));
                clone.options.uuid = this.createUUID();
                this.bewonerMarkers.push(clone);
            },
            addOpmerkingToMap(){
                let clone = JSON.parse(JSON.stringify(this.opmerkingMarker));
                clone.options.uuid = this.createUUID();
                this.opmerkingMarkers.push(clone);
            },

            updateBewonerMarker(event) {
                //console.log('update', event);
            },
            refreshUserMarkers() {
                var that = this;
                this.bewoners.forEach(function(item){
                    axios.get('/api/bewoner/'+item.options.id)
                        .then(function(response){
                            item.options.firstname = response.data.firstname;
                            item.options.lastname = response.data.lastname;
                            var child = response.data;
                            console.log('item', response);
                            if(that.selectedSlot.value == 0){
                                item.options.seat = response.data.breakfast_seat;
                                item.options.hulpmiddelen = JSON.parse(response.data.breakfast_hulpmiddelen);
                                if(child.breakfast == 'eetruimte'){
                                    if(item.breakfast_seat == 'rolstoel'){
                                        item.icon.iconUrl = '/images/users/userRolstoel.png';
                                    } else if(child.breakfast_seat == 'leuningen'){
                                        item.icon.iconUrl = '/images/users/userLeuningen.png';
                                    } else if(child.breakfast_seat == 'zonder'){
                                        item.icon.iconUrl = '/images/users/userZonderLeuningen.png';
                                    }
                                } else {
                                    item.icon.iconUrl = '/images/users/userNieuw.png';
                                }

                            } else if(that.selectedSlot.value == 1){
                                item.options.seat = response.data.lunch_seat;
                                item.options.hulpmiddelen = JSON.parse(response.data.lunch_hulpmiddelen);
                                if(child.lunch == 'eetruimte') {
                                    if (child.lunch_seat == 'rolstoel') {
                                        item.icon.iconUrl = '/images/users/userRolstoel.png';
                                    } else if (child.lunch_seat == 'leuningen') {
                                        item.icon.iconUrl = '/images/users/userLeuningen.png';
                                    } else if (child.lunch_seat == 'zonder') {
                                        item.icon.iconUrl = '/images/users/userZonderLeuningen.png';
                                    }
                                } else {
                                    item.icon.iconUrl = '/images/users/userNieuw.png';
                                }
                            } else if(that.selectedSlot.value == 2){
                                item.options.seat = response.data.dinner_seat;
                                item.options.hulpmiddelen = JSON.parse(response.data.dinner_hulpmiddelen);
                                if(child.dinner == 'eetruimte') {
                                    if (child.dinner_seat == 'rolstoel') {
                                        item.icon.iconUrl = '/images/users/userRolstoel.png';
                                    } else if (child.dinner_seat == 'leuningen') {
                                        item.icon.iconUrl = '/images/users/userLeuningen.png';
                                    } else if (child.dinner_seat == 'zonder') {
                                        item.icon.iconUrl = '/images/users/userZonderLeuningen.png';
                                    }
                                } else {
                                    item.icon.iconUrl = '/images/users/userNieuw.png';
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log('bewonerCall', error);
                        });
                });
            },

            hulpmiddelFind(hulpmiddel){
                if(this.hulpmiddelen){
                    return this.hulpmiddelen[hulpmiddel].name;
                }
            },
            opmerkingTooltipCSS(opmerking){
                if(opmerking.length > 100)
                    return 'width: 15vw;word-break: break-all;white-space: normal;'
            },
            tijdslotUpdate(event){
                console.log('tijdslotevent', event);
                this.selectedSlot = event;
                this.refreshUserMarkers();
            },
            updateAfdeling(event){
                var that = this;
                localStorage.afdeling = JSON.stringify(event);
                axios.get('/api/'+ event.id + '/ruimtes')
                    .then(function(response){
                        that.ruimtes = response.data;
                        that.selectedRuimte = response.data[0];
                        that.updateRuimte(response.data[0]);

                    });

            },
            updateRuimte(event){
                var that = this;
                if(event != null){
                    localStorage.ruimte = JSON.stringify(event);
                    axios.get('/api/eetruimte/'+ event.id)
                        .then(function(response){
                            console.log('update', response);

                            that.bewoners = JSON.parse(response.data.bewoners.replace('"draggable":true,', ''));
                            that.tafels = JSON.parse(response.data.tafels.replace('"draggable":true,', ''));
                            that.opmerkingen = JSON.parse(response.data.opmerkingen.replace('"draggable":true,', ''));
                        });
                }
            }
        },
        computed: {

            userTooltip (){
                return {
                    direction: 'right',
                    permanent: true,
                    offset: [0,5*this.zoom]
                };
            },
            opmerkingTooltip (){
                return {
                    direction: 'bottom',
                    permanent: true,
                    offset: [0,25*this.zoom]
                };
            },
            dynamicSize (){
                return [25*this.zoom,25*this.zoom];
            },
            dynamicAnchor (){
                return [1*this.zoom, 12*this.zoom];
            },

        },
        mounted() {

            var that = this;
            var markers = [];


            var d = new Date();
            if(d.getHours() <= 10){
                this.selectedSlot = {
                    'label' : 'ontbijt',
                    'value'     : 0
                };
            }
            if(d.getHours() > 10 && d.getHours() < 16){
                this.selectedSlot = {
                    'label' : 'middageten',
                    'value'     : 1
                };
            }
            if(d.getHours() >= 15){
                this.selectedSlot = {
                    'label' : 'avondeten',
                    'value'     : 2
                };
            }

            if(localStorage.afdeling){
                this.selectedAfdeling = JSON.parse(localStorage.afdeling);
                this.updateAfdeling(JSON.parse(localStorage.afdeling));
            }

            if(localStorage.ruimte){
                this.selectedRuimte = JSON.parse(localStorage.ruimte);
                this.updateRuimte(JSON.parse(localStorage.ruimte));
            }

            axios.get('/api/'+ this.locatie + '/afdelingen')
                .then(function(response){
                    that.afdelingen = response.data;
                });

            this.$refs.map.mapObject.setView([0, 0], this.zoom);
        }
    }
</script>

<style>
    .leaflet-tooltip-right:before{
        display: none;
    }
    .control-button{
        border-radius: 50px;
        border-width: 0px;
        width: 60px;
        height: 60px;
        line-height: 26px;
        font-size: 24px;
        background-color: #3C61C1;
        color: white;
        display: block;
        text-decoration: none;
        transition: 0.3s;
    }

    .control-button:hover{
        background-color: #1E3D8D;

    }

.table-selector{
    border-radius: 4px;
    border-width: 0px;
    width: 10vw;
    height: 60px;
    line-height: 26px;
    background-color: white;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}
.leaflet-tooltip{
    position: fixed;
    top: -8px;
    background-color: white;
    border: none;
    box-shadow: unset;
    color:black;
    font-weight: bold;
}
    .legend{
        list-style: none;
        padding: 0;
    }

    .legend img{
        width: 25px;
    }

    .legend li{
        padding-top:3px;
    }

    .legende-btn{
        background-color: white;
        border: 1px #F6F6F6;
        border-radius: 4px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

</style>
