<template>
<div style="height: 100%; width: 100%">
    <!--<span>Mouselocation: {{mouseLocation}}</span>
    <span>Target: {{mapDragging}}</span>-->
    <!--<button @click="tooltipRefresh = !tooltipRefresh">Toggle test</button>-->
    <div v-if="pageLoad" class="loading" style="height: 100%;background-color: white;position: absolute;z-index: 401;width: 100%;opacity: 0.7;text-align: center;padding-top: 20%;font-size: 32px;">Laden de module...</div>
    <l-map
        ref="map"
        :zoom="zoom"
        :minZoom="1"
        :maxZoom="3"
        :crs="crs"
        :key="updaterUUID"
        :options="{dragging: mapDragging}"
        style="height: 40vw; background-image: url('/grid.png')"
        @update:zoom="zoomUpdated"
        @ready="mapReady"
        @mousemove="onMouseMove"
    >
        <l-image-overlay
            :url="url"
            :bounds="bounds"
        />
        <l-control position="bottomleft" style="display:flex;" >
            <button v-on:click="addTable = !addTable" class="control-button">
                <i class="fa fa-plus"></i>
            </button>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addBewonerToMap"><img style="height: 60%;" src="/images/users/userGeenHulpmiddelen.png" alt=""><br>Gebruiker</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addOpmerkingToMap"><img style="height: 60%;" src="/images/users/alertMarker.png" alt=""><br>Opmerking</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addTableToMap(2)"><img style="height: 60%;" src="/images/two.png" alt=""><br>2 persoons</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addTableToMap(4)"><img style="height: 60%;" src="/images/fourVertical.png" alt=""><br>4 persoons</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addTableToMap(5)"><img style="height: 60%;" src="/images/fourHorizontal.png" alt=""><br>4 persoons</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addTableToMap(6)"><img style="height: 60%;" src="/images/sixVertical.png" alt=""><br>6 persoons</button>
            </transition>
            <transition name="fade">
                <button class="table-selector" v-if="addTable" @click="addTableToMap(7)"><img style="height: 60%;" src="/images/sixHorizontal.png" alt=""><br>6 persoons</button>
            </transition>

        </l-control>
        <l-control position="topright">
            <div class="card">
                <div class="card-body">
                    <span v-if="saved"><i class="fa fa-check"></i> Opgeslagen</span>
                    <span v-else><i class="fa fa-refresh"></i> Opslaan...</span>

                </div>
            </div>
        </l-control>
        <l-control position="topright" v-if="userForm">
            <!-- form -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>In dit formulier kan je een bewoner aan een poppetje toewijzen.</p>
                            </div>


                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Naam van de bewoner</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <v-select
                                                    :options="bewoners"
                                                    placeholder="Selecteer een bewoner"
                                                    v-model="selectedUser"

                                                >
                                                    <option value="null" disabled>Selecteer een bewoner</option>
                                                    <template slot="option" slot-scope="option">
                                                        <div class="d-center">
                                                            {{ option.firstname }} {{option.lastname}} <span style="font-weight: bold">{{option.number}}</span>
                                                        </div>
                                                    </template>
                                                    <template slot="selected-option" slot-scope="option">
                                                        <div class="selected d-center">
                                                            {{ option.firstname }} {{option.lastname}} <span style="font-weight: bold">{{option.number}}</span>
                                                        </div>
                                                    </template>
                                                </v-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="updateUserForm">
                                    <i class="fa fa-check-square-o"></i> Opslaan
                                </button>


                        </div>
                    </div>
                </div>
            </div>

        </l-control>

        <l-control position="topright" v-if="opmerkingForm">
            <!-- form -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="fa fa-exclamation-circle"></i> Opmerking</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>In dit formulier kan er een opmerking aan het icoon worden toegewezen. Deze tekst zal altijd zichtbaar zijn.</p>
                                        <div class="form-group">
                                            <textarea v-model="opmerkingTextArea" cols="30" rows="10" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" @click="updateOpmerkingForm">
                                <i class="fa fa-check-square-o"></i> Opslaan
                            </button>


                        </div>
                    </div>
                </div>
            </div>

        </l-control>

        <l-control position="topleft">
            <button class="legende-btn" @click="legende = !legende"><i class="fa fa-eye"></i> Legende</button>
            <div class="card" v-if="legende">
                <div class="card-body">
                    <ul class="legend">
                        <li>Rechter-klik op een tafel/bewoner/opmerking om te verwijderen</li>
                        <li><img src="/images/users/userNieuw.png" alt=""> Nieuwe bewoner</li>
                        <li><img src="/images/users/userRolstoel.png" alt=""> Bewoner met rolstoel</li>
                        <li><img src="/images/users/userLeuningen.png" alt=""> Bewoner met leuningen</li>
                        <li><img src="/images/users/userZonderLeuningen.png" alt=""> Bewoner zonder leuningen</li>
                        <li><img src="/images/users/alertMarker.png" alt=""> Opmerkingen voor situering</li>
                        <li><img src="/images/two.png" alt=""> 2 Persoonstafel</li>
                        <li><img src="/images/fourVertical.png" alt=""> 4 Persoonstafel</li>
                        <li><img src="/images/sixVertical.png" alt=""> 6 Persoonstafel</li>

                    </ul>
                </div>
            </div>

        </l-control>






        <l-marker
            v-for="(bewoner, key) in bewonerMarkers"
            :key="bewoner.options.uuid"
            :lat-lng="bewoner.coords"
            :options="bewoner.options"
            @click="userClicked(bewoner.options.uuid, bewoner)"
            @update:latLng="updateBewonerMarker"
            @mouseup="onMouseUpBewoner"
            @contextmenu="onRightClickUser"
        >
            <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                :icon-url="bewoner.icon.iconUrl"
                >
            </l-icon>

                <div v-if="bewoner.options.firstname">
                    <l-tooltip :options="userTooltip" v-show="readableLabel">{{bewoner.options.firstname}} {{bewoner.options.lastname}}
                    <ul class="legend" v-show="extendedTooltip">
                        <li v-for="hulpmiddel in bewoner.options.hulpmiddelen">{{hulpmiddelFind(hulpmiddel)}}</li>
                    </ul></l-tooltip>
                </div>
        </l-marker>

        <l-marker
            v-for="(opmerking) in opmerkingMarkers"
            :key="opmerking.options.uuid"
            :lat-lng="opmerking.coords"
            :options="opmerking.options"
            @click="opmerkingClicked(opmerking.options.uuid, opmerking)"
            @update:latLng="updateBewonerMarker"
            @mouseup="onMouseUpOpmerking"
            @contextmenu="onRightClickOpmerking"
        >
            <l-icon
                :icon-size="[50,50]"
                :icon-anchor="[25,25]"
                :icon-url="opmerking.icon.iconUrl"
            >
            </l-icon>

                <l-tooltip :options="opmerkingTooltip">
                    <p :style="opmerkingTooltipCSS(opmerking.options.opmerking)">
                        {{opmerking.options.opmerking}}
                    </p>

                </l-tooltip>

        </l-marker>

        <l-rectangle :key="key" @click="rectangleClick" @contextmenu="onRightClick" @mousedown="onMouseDownRectangle" :options="rectangle.options" @mouseup="onMouseUpRectangle" v-for="(rectangle, key) in rectangles" :bounds="rectangle.bounds" :l-style="rectangle.style" draggable="true"></l-rectangle>

    </l-map>
</div>
</template>

<script>
    import vSelect from 'vue-select';
    import { CRS } from "leaflet";
    import { LMap, LImageOverlay, LMarker, LPopup, LPolyline, LPolygon, LRectangle, LControl, LTooltip, LIcon } from "vue2-leaflet";
    import Vue2LeafletPathTransform from 'vue2-leaflet-path-transform';
    import { VueContext } from 'vue-context';


    export default {
        name: "schetsModule",
        props: [
            'afdeling',
            'eetruimte',
            'woonzorgcentrum'
        ],
        components: {
            LMap,
            LImageOverlay,
            LMarker,
            LPopup,
            LPolyline,
            LPolygon,
            LRectangle,
            'v-path-transform': Vue2LeafletPathTransform,
            LControl,
            VueContext,
            LTooltip,
            vSelect,
            LIcon
        },
        data() {
            return {
                dayPart: 0,
                pageLoad: true,
                saved: true,
                legende: false,

                bewoners: null,
                hulpmiddelen: null,


                apiUsers: [],
                selected: '',
                handlerOptions: {
                    radius: 5,
                    weight: 1.5
                },
                initialLocation: L.latLng(37.54893261064111, 127.03618615865709),
                url: "",
                mouseLocation: '',
                mapDragging: true,
                bounds: [[-500, -500], [500, 500]],
                crs: CRS.Simple,
                zoom: 1,
                readableLabel: false,
                rectangles: [

                ],
                target: null,
                value: null,


                markerLoc: L.latLng(26,-7),
                markerLoc2: L.latLng(4,-7),

                extendedTooltip: false,
                tooltipRefresh: false,

                addTable: false,

                userForm: false,
                opmerkingForm: false,
                opmerkingTextArea: '',
                opmerkingActive: '',
                userActive: '',
                selectedUser: '',

                bewonerMarkers: [],
                opmerkingMarkers: [],
                updaterUUID:'',

                bewonerMarker: {
                    coords: [0,0],
                    options: {
                        draggable: true,
                    },
                    icon: {
                        iconUrl: '/images/users/userNieuw.png'
                    }
                },
                opmerkingMarker: {
                    coords: [0,0],
                    options: {
                        draggable: true,
                        opmerking: ''
                    },
                    icon: {
                        iconUrl: '/images/users/alertMarker.png'
                    }
                },
                twoPerson: {
                    bounds: [[0, 0], [20, 20]],
                    style: { color: 'red', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                fourPerson: {
                    bounds: [[0, 0], [40, 20]],
                    style: { color: 'green', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                sixPerson: {
                    bounds: [[0, 0], [60, 20]],
                    style: { color: 'blue', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                fourPersonHorizontal: {
                    bounds: [[0, 0], [20, 40]],
                    style: { color: 'green', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                sixPersonHorizontal: {
                    bounds: [[0, 0], [20, 60]],
                    style: { color: 'blue', weight: 3 },
                    options: {
                        draggable: true
                    }
                },
                copy: {}
            };
        },
        methods: {
            zoomUpdated(zoom) {
                this.zoom = zoom;
                this.readableLabel = zoom !== 1;
                if(this.zoom == 1){
                    $(".leaflet-tooltip-right").css("display","none");
                } else {
                    $(".leaflet-tooltip-right").css("display","block");
                }
                if(this.zoom == 3) {
                    this.extendedTooltip = true;
                } else {
                    this.extendedTooltip = false;
                }

                //Tooltip op juiste plek zetten
                this.markerLoc2 = L.latLng(this.markerLoc2.lat, this.markerLoc2.lng+0.000001);
                this.markerLoc = L.latLng(this.markerLoc.lat, this.markerLoc.lng+0.000001);


            },
            onRightClick(event){
                //console.log(event.target.options.uuid);
                //console.log(this.mouseLocation);
                //let ne = event.target._bounds._northEast;
                //let sw = event.target._bounds._southWest;
                //console.log('[[' + sw.lat + ', ' + sw.lng + '], [' + ne.lat + ', ' + ne.lng + ']]');
                //console.log('[[' + sw.lat + ', ' + ne.lat + '], [' + ne.lng + ', ' + sw.lng + ']]');
                //console.log(ne.lat, ne.lng, ne.lat-ne.lng);
                this.rectangles = this.rectangles.filter(function(item){
                    console.log(item);
                    if(item.options.uuid != event.target.options.uuid)
                        return item;
                });
                //this.$delete(this.rectangles, event.target.options.id);


                //this.rectangles[event.target.options.id].bounds = [[sw.lat, sw.lng], [ne.lng, ne.lat]];
                //console.log([[sw.lat, sw.lng], [ne.lng, ne.lat]]);
                //this.$delete(this.rectangles, event.target.options.id)
                // [[0, 0], [60, 20]]
                // [[0, 00], [20, 60]]

            },
            onRightClickUser(event){
                this.bewonerMarkers = this.bewonerMarkers.filter(function(item){
                   if(item.options.uuid != event.target.options.uuid)
                       return item;
                });
            },
            onRightClickOpmerking(event){
                this.opmerkingMarkers = this.opmerkingMarkers.filter(function(item){
                    if(item.options.uuid != event.target.options.uuid)
                        return item;
                });
            },
            mapReady(){
                axios.get('/api/bewoners/'+this.woonzorgcentrum)
                    .then(response => (this.bewoners = response.data))
                    .catch(function (error) {
                        console.log(error);
                    });

                axios.get('/api/hulpmiddelen')
                    .then(response => (this.hulpmiddelen = response.data))
                    .catch(function (error) {
                        console.log(error);
                    });





                //console.log('test', test);
            },
            tooltipTest(){
                var marker = this.markerLoc2;
                //console.log(marker.lng);
                this.markerLoc2 = L.latLng(marker.lat, marker.lng+0.000001);
            },
            userClicked(uuid, event){
                if(!event.options.firstname){
                    this.userForm = true;
                    this.userActive = uuid;
                }
            },
            opmerkingClicked(uuid, event){
                this.opmerkingForm = true;
                this.opmerkingActive = uuid;
                this.opmerkingTextArea = event.options.opmerking;
            },
            rectangleClick(event){
                //alert(event.target.options.id + ' clicked');
                alert(this.createUUID());
            },
            onMouseDownRectangle(event){



            },
            onMouseUpRectangle(event){
                var that = this;
                this.saved = false;
                this.rectangles.forEach(function(item){
                    setTimeout(function(){
                    if(item.options.uuid === event.sourceTarget.options.uuid){
                        //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);

                        item.bounds = [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]];
                        that.saveAll();
                    }

                    }, 500);

                });

            },
            onMouseUpOpmerking(event){
                var that = this;
                this.saved = false;
                this.opmerkingMarkers.forEach(function(item){
                        if(item.options.uuid === event.sourceTarget.options.uuid){
                            setTimeout(function(){
                                //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);
                                //console.log('saving', [event.latlng.lat , event.latlng.lng]);
                                item.coords = [event.latlng.lat , event.latlng.lng];
                                that.saveAll();
                            }, 500);
                        }
                });
            },
            onMouseUpBewoner (event){
                console.log('mouseupbewoner');

                var that = this;
                this.saved = false;
                this.bewonerMarkers.forEach(function(item){
                    //console.log('item', event.latlng);
                    if(item.options.uuid === event.target.options.uuid){
                        setTimeout(function(){
                            //console.log('bounds', event.target._bounds, [[event.target._bounds._northEast.lat, event.target._bounds._northEast.lng],[event.target._bounds._southWest.lat, event.target._bounds._southWest.lng]]);
                            //console.log('saving', [event.latlng.lat , event.latlng.lng]);
                            item.coords = [event.latlng.lat , event.latlng.lng];
                            that.saveAll();
                        }, 500);

                    }


                });
            },
            onMouseMove(event){
                this.mouseLocation = event.latlng;
            },
            onClick (text) {
                alert(`You clicked on: "${text}"`);
            },
            addTableToMap(persons){
                if(persons == 2){

                    let clone = JSON.parse(JSON.stringify(this.twoPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(Object.assign({}, clone));
                } else if(persons == 4){
                    let clone = JSON.parse(JSON.stringify(this.fourPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 5){
                    let clone = JSON.parse(JSON.stringify(this.fourPersonHorizontal));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 6){
                    let clone = JSON.parse(JSON.stringify(this.sixPerson));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                } else if(persons == 7){
                    let clone = JSON.parse(JSON.stringify(this.sixPersonHorizontal));
                    clone.options.uuid = this.createUUID();
                    this.rectangles.push(clone);
                }
            },
            addBewonerToMap(){
                let clone = JSON.parse(JSON.stringify(this.bewonerMarker));
                clone.options.uuid = this.createUUID();
                this.bewonerMarkers.push(clone);
            },
            addOpmerkingToMap(){
                let clone = JSON.parse(JSON.stringify(this.opmerkingMarker));
                clone.options.uuid = this.createUUID();
                this.opmerkingMarkers.push(clone);
            },

            updateBewonerMarker(event) {
                //console.log('update', event);
            },
            refreshUserMarkers() {
                var markers = this.bewonerMarkers;
                let dayPart = this.dayPart;
                var that = this;
                if(markers !== []){

                    axios.get('/api/userlists/'+ this.woonzorgcentrum)
                        .then(function(response){
                            console.log('users', response, markers);
                            markers.forEach(function(item){
                                //console.log('uuid', item.options.uuid)
                                //that.apiUsers = response.data;
                                response.data.filter(function(child){
                                    //console.log(item);
                                    if(item.options.uuid == child.uuid){
                                        item.options.id = child.id;
                                        item.options.firstname = child.firstname;
                                        item.options.lastname = child.lastname;
                                        item.options.draggable = true;

                                        if(dayPart == 0){
                                            item.options.hulpmiddelen   = JSON.parse(child.breakfast_hulpmiddelen);
                                            item.options.seat           = child.breakfast_seat;
                                            if(child.breakfast_seat == 'rolstoel'){
                                                item.icon.iconUrl = '/images/users/userRolstoel.png'
                                            } else if(child.breakfast_seat == 'leuningen'){
                                                item.icon.iconUrl = '/images/users/userLeuningen.png'
                                            } else if(child.breakfast_seat == 'zonder'){
                                                item.icon.iconUrl = '/images/users/userZonderLeuningen.png'
                                            }
                                        } else if(dayPart == 1){
                                            item.options.hulpmiddelen    = JSON.parse(child.lunch_hulpmiddelen);
                                            item.options.seat            = child.lunch_seat;
                                            if(child.lunch_seat == 'rolstoel'){
                                                item.icon.iconUrl = '/images/users/userRolstoel.png'
                                            } else if(child.lunch_seat == 'leuningen'){
                                                item.icon.iconUrl = '/images/users/userLeuningen.png'
                                            } else if(child.lunch_seat == 'zonder'){
                                                item.icon.iconUrl = '/images/users/userZonderLeuningen.png'
                                            }
                                        } else if(dayPart == 2){
                                            item.options.hulpmiddelen    = JSON.parse(child.dinner_hulpmiddelen);
                                            item.options.seat            = child.dinner_seat;
                                            if(child.dinner_seat == 'rolstoel'){
                                                item.icon.iconUrl = '/images/users/userRolstoel.png'
                                            } else if(child.dinner_seat == 'leuningen'){
                                                item.icon.iconUrl = '/images/users/userLeuningen.png'
                                            } else if(child.dinner_seat == 'zonder'){
                                                item.icon.iconUrl = '/images/users/userZonderLeuningen.png'
                                            }
                                        }

                                    }
                                });
                            });
                            console.log('refreshed', markers);
                            that.bewonerMarkers = markers;
                            that.pageLoad = false;
                            setTimeout(function(){
                                that.saveAll();
                            }, 500);


                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }



                //this.updaterUUID = JSON.parse(JSON.stringify(this.createUUID()));


                //console.log('apiusers', this.apiUsers);
            },
            updateUserForm(){
                var that = this;
                axios.post('/api/bewoners/update', {uuid: this.userActive, user: this.selectedUser.id})
                    .then(function(response){
                        that.refreshUserMarkers();

                        that.userForm = false;
                    });

            },
            updateOpmerkingForm(){
                console.log(this.opmerkingActive, this.opmerkingTextArea);
                var that = this;
                this.opmerkingMarkers.filter(function(item){
                    if(item.options.uuid == that.opmerkingActive){
                        item.options.opmerking = that.opmerkingTextArea;
                    }
                });
                setTimeout(function(){
                    that.opmerkingMarkers.filter(function(item){
                        if(item.options.uuid == that.opmerkingActive){
                            item.coords = [item.coords[0]+0.000001, item.coords[1]+0.000001];
                        }
                    });

                },100);
                this.opmerkingForm = false;
                this.saveAll();

            },
            createUUID(){
                var dt = new Date().getTime();
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = (dt + Math.random()*16)%16 | 0;
                    dt = Math.floor(dt/16);
                    return (c=='x' ? r :(r&0x3|0x8)).toString(16);
                });
            },
            saveAll(){
                this.saved = false;
                axios.post('/api/eetruimte/update', {id: this.eetruimte, tafels: JSON.stringify(this.rectangles), bewoners: JSON.stringify(this.bewonerMarkers), opmerkingen: JSON.stringify(this.opmerkingMarkers)})
                    .then(function(response){
                        console.log('eetruimte', response);
                    });

                this.saved = true;
            },
            hulpmiddelFind(hulpmiddel){
                //hulpmiddelen[hulpmiddel].name
                if(this.hulpmiddelen){
                    return this.hulpmiddelen[hulpmiddel].name;
                }
            },
            opmerkingTooltipCSS(opmerking){
                if(opmerking.length > 100)
                    return 'width: 15vw;word-break: break-all;white-space: normal;'
            }
        },
        computed: {

            userTooltip (){
                return {
                    direction: 'right',
                    permanent: true,
                    offset: [0,5*this.zoom]
                };
            },
            opmerkingTooltip (){
                return {
                    direction: 'bottom',
                    permanent: true,
                    offset: [0,25*this.zoom]
                };
            },
            dynamicSize (){
                return [25*this.zoom,25*this.zoom];
            },
            dynamicAnchor (){
                return [1*this.zoom, 12*this.zoom];
            },

        },
        mounted() {

            var that = this;
            var markers = [];
            axios.get('/api/eetruimte/' + this.eetruimte)
                .then(function(response){
                    if(response.data.tafels){
                        that.rectangles = JSON.parse(response.data.tafels);
                    }
                    if(response.data.bewoners){
                        that.bewonerMarkers = JSON.parse(response.data.bewoners);
                    }

                    if(response.data.opmerkingen){
                        that.opmerkingMarkers = JSON.parse(response.data.opmerkingen);
                    }

                    that.refreshUserMarkers();
                })
                .catch(function (error) {
                    console.log(error);
                });




            /*if(localStorage.tafels){
                this.rectangles = JSON.parse(localStorage.tafels);
            }
            if(localStorage.bewoners){
                this.bewonerMarkers = JSON.parse(localStorage.bewoners);
            }*/



            this.$refs.map.mapObject.setView([0, 0], this.zoom);
        }
    }
</script>

<style>
    .leaflet-tooltip-right:before{
        display: none;
    }
    .control-button{
        border-radius: 50px;
        border-width: 0px;
        width: 60px;
        height: 60px;
        line-height: 26px;
        font-size: 24px;
        background-color: #3C61C1;
        color: white;
        display: block;
        text-decoration: none;
        transition: 0.3s;
    }

    .control-button:hover{
        background-color: #1E3D8D;

    }

.table-selector{
    border-radius: 4px;
    border-width: 0px;
    width: 10vw;
    height: 60px;
    line-height: 26px;
    background-color: white;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}
.leaflet-tooltip{
    position: fixed;
    top: -8px;
    background-color: white;
    border: none;
    box-shadow: unset;
    color:black;
    font-weight: bold;
}
    .legend{
        list-style: none;
        padding: 0;
    }

    .legend img{
        width: 25px;
    }

    .legend li{
        padding-top:3px;
    }

    .legende-btn{
        background-color: white;
        border: 1px #F6F6F6;
        border-radius: 4px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

</style>
